*{
	
	margin: 0;
	padding: 0;
}

#canvas1 {
	
	background: red;
	position: absolute;
}

.controls {
	
	position: absolute;
	z-index: 100;
}

img {
	
	display: none;
}

button {
	padding: 10px;
	font-size: 30px;
	margin: 20px;
	font-family: 'Bangers', system-ui;
	color: rgb(248, 248, 248);
	background: rgb(35, 67, 126);
	border-radius: 10px;
	transition: 0.1s;
}

button:hover{
	color: rgb(35, 67, 126);
	background: white;
}